.container {
  display: inline-flex;

  /* min-width: 500px; */
  border-radius: 15px;
  overflow: hidden;

  background-color: #fa8787;
  font-family: Arial, sans-serif; /* Красивый шрифт */

  margin: 0px;
  padding: 0px;
}
.main,
.statistic {
  display: flex; /* Делаем их флекс-контейнерами */
  align-items: center; /* Центрируем текст по вертикали */
  justify-content: center; /* Центрируем текст по горизонтали */
  text-align: center; /* На случай, если текст в несколько строк */
  flex-direction: column;
  white-space: nowrap;
  padding: 0px 10px 0px 10px;
}

.main {
  background-color: #3d4f3eaa;
  /* width: 40%; */
}

.statistic {
  /* width: 60%; */
}
